<!-- Main Content -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Menu Button for End Menu -->
      <ion-buttons slot="start">
        <!-- Icono hamburguesa para abrir el end-menu -->
        <ion-menu-button menu="end-menu"></ion-menu-button>
      </ion-buttons>

      <ion-title>Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- El router-outlet es donde se cargará el contenido de cada página -->
  <ion-content class="ion-padding">
    <router-outlet></router-outlet> <!-- Aquí se renderizarán las páginas users y equipment -->
  </ion-content>
</div>

<!-- End Menu -->
<ion-menu side="end" menuId="end-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <!-- Botón para ir al componente Users con icono -->
      <ion-item button routerLink="/users">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>Users</ion-label>
      </ion-item>

      <!-- Botón para ir al componente Equipment con icono -->
      <ion-item button routerLink="/equipment">
        <ion-icon slot="start" name="hammer-outline"></ion-icon>
        <ion-label>Equipment</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
